@{
    ViewBag.Title = "PaidThx - The Social Payment Network";
}
<script src="@Url.Content("~/Scripts/home.js")" type="text/javascript"></script>
<div id="main-top">
    <div id="main-top-content">
        <div id="main-top-left">
            <img id="main-top-callout" src="@Url.Content("~/Content/images/main-top-callout.gif")" alt="Main Callout" />
           
            <form id="beta-signup-form">
                <p style="margin-bottom: 5px;">
                    <input type="text" id="txtEmailAddress" name="EmailAddress" placeholder="Enter Your Email Address"
                        class="request-invitation-input" />
                </p>
                <div id="form-wrapper">
                
                    <div id="form-outputs">
                        <p id="output" style="display: none;"></p>
                    </div>
                    <div id="form-inputs">
                        <input type="image" src="@Url.Content("~/Content/images/request-invitation.gif")" id="btnRequestInvitation" />
                        <span style="display: block; text-align: center">
                            <span class="nospam">(no spam, we promise)</span>
                        </span>
                    </div>
                </div>     
            </form>
           
        </div>
        <div id="main-top-right">
            <img src="@Url.Content("~/Content/images/iphone-image.gif")" alt="PaidThx Mobile App" />
        </div>
    </div>
</div>
<div id="main-bottom">
    <div id="main-bottom-content-wrapper">
        <div id="main-bottom-callout2"><img src="@Url.Content("~/Content/images/main-bottom-quote.gif")" alt="Callout" /></div>
        <div id="main-bottom-content">
            <div id="our-dream" style="height: 120px;">
                <h5>
                    Our Dream</h5>
                <div class="item-wrapper">
                    <span class="item-image">
                        <img src="@Url.Content("~/Content/images/our-dream-icon.gif")" alt="Our Dream" />
                    </span><span class="item-copy">At PaidThx, we want to change the way the world thinks about
                        money management. We are building a
                        future where settling up with a friend or donating to a worthy cause is not only fast,
                        easy, and secure, but also transparent, trackable, and best of all - <b>free</b>.
                    </span>
                </div>
                <span class="clear">&nbsp;</span>
            </div>
            <div id="how-it-works"  style="height: 120px;">
                <h5>
                    How it works</h5>
                <div class="item-wrapper">
                    <span class="item-image">
                        <img src="@Url.Content("~/Content/images/how-it-works-icon.gif")" alt="How it Works" />
                    </span><span class="item-copy">PaidThx works just like transferring money with your online
                        banking account, only <b>easier</b>. Our technology enables users to send money
                        securely at no charge, allowing you to exchange money with anyone in
                        your network using a text, a Tweet, or a Facebook
                        message! </span>
                </div>
                <span class="clear">&nbsp;</span>
            </div>
            <div id="social-network" style="height: 120px;">
                <h5>
                    The Social Payment Network</h5>
                <div class="item-wrapper">
                    <span class="item-image">
                        <img src="@Url.Content("~/Content/images/network-icon.gif")" />
                    </span><span class="item-copy">PaidThx is based around the principle of Social Responsibility.
                        We have developed a set of proprietary <b>social verification algorithms</b> which analyze factors like: network size, current location, transaction outcomes, and much more. We use this information to empower our users to protect themselves and one another while using PaidThx!</span>
                </div>
                <span class="clear">&nbsp;</span>
            </div>
        </div>
    </div>
</div>
