@{
    ViewBag.Title = "PaidThx - The Social Payment Network";
}
<script src="@Url.Content("~/Scripts/home.js")" type="text/javascript"></script>
<div id="main-top">
    <div id="main-top-content">
        <div id="main-top-left">
            <img id="main-top-callout" src="@Url.Content("~/Content/images/main-top-callout.gif")" alt="Main Callout" />
            <p style="margin-bottom: 5px;">
                <input type="text" id="txtEmailAddress" name="EmailAddress" placeholder="Enter Your Email Address"
                    class="request-invitation-input" />
            </p>
            <p style="float: right">
                <input type="image" src="@Url.Content("~/Content/images/request-invitation.gif")" id="btnRequestInvitation" />
                 <span style="display: block; text-align: center">
                    <span class="nospam">(no spam, we promise)</span>
                </span>
            </p>
           
        </div>
        <div id="main-top-right">
            <img src="@Url.Content("~/Content/images/iphone-image.gif")" alt="PaidThx Mobile App" />
        </div>
    </div>
</div>
<div id="main-bottom">
    <div id="main-bottom-content-wrapper">
        <div id="main-bottom-callout2">
            <img src="@Url.Content("~/Content/images/main-bottom-quote.gif")" alt="Callout" />
        </div>
        <div id="main-bottom-content">
            <div id="our-dream" style="height: 120px;">
                <h5>
                    Our Dream</h5>
                <div class="item-wrapper">
                    <span class="item-image">
                        <img src="@Url.Content("~/Content/images/our-dream-icon.gif")" alt="Our Dream" />
                    </span><span class="item-copy">At PaidThx, we want to change the way the world thinks about
                        sending, receiving, donating and paying money. We are building a
                        future where setting up a friend or donating to a worthy cause is not only fast,
                        easy, and secure, but also transparent, trackable, and best of all - <b>free</b>.
                    </span>
                </div>
                <span class="clear">&nbsp;</span>
            </div>
            <div id="how-it-works"  style="height: 120px;">
                <h5>
                    How it works</h5>
                <div class="item-wrapper">
                    <span class="item-image">
                        <img src="@Url.Content("~/Content/images/how-it-works-icon.gif")" alt="How it Works" />
                    </span><span class="item-copy">PaidThx works just like transfering money with your online
                        banking account, only <b>easier</b>. Our technology enables users to send money
                        instanly and securely at no charge, allowing you to exchange money with anyone in
                        your network or even an organization using a text, a Bump, a Tweek, or a Facebook
                        message! </span>
                </div>
                <span class="clear">&nbsp;</span>
            </div>
            <div id="social-network" style="height: 120px;">
                <h5>
                    The Social Payment Network</h5>
                <div class="item-wrapper">
                    <span class="item-image">
                        <img src="@Url.Content("~/Content/images/network-icon.gif")" />
                    </span><span class="item-copy">PaidThx is based around the principle of Social Responsibility.
                        Using our proprietary social verification algorithms which take into account factors like: network size, current location, transaction outcomes, and more,  we allow our users to protect themselves and each other.</span>
                </div>
                <span class="clear">&nbsp;</span>
            </div>
        </div>
    </div>
</div>
